body {
    background: whitesmoke;
}

div {
    width: 500px;
    height: 500px;
    background: black;
    border: solid;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-item-blue {
    background-color: whitesmoke;
    height: 90px;
    width: 90px;
    
}

#fifthdiv {
    background: black;
}

#tenthdiv {
    background: black;
}

#sixteenthdiv {
    background: black;
}

#twentyfirstdiv {
    background: black;
}